.navigation {
  width: 18%;
  border-top: 4px solid #3bb4bc;
  height: 100%;
  background: #0e1214;
  float: left;
  min-width: 250px;
  ul {
    li {
      font: 24px 'brandon_grotesquebold';
      text-transform: uppercase;

      a {
        display: block;
        color: #5d6976;
        padding: 0 0 0 25px;
        &:hover {
          text-decoration: none;
          background: #191e23;
        }

        span {
          display: block;
          padding: 12px 0 13px 8px;
          border-top: 1px solid #333e49;
        }
      }


      &:first-child {
        a {
          span {
            border: 0;
          }
        }
      }
      &.active {
        background: red;
        a {
          background: #3bb4bc;
          color: #fff;
        }
      }
    }
  }
}